.jngei { 
  line-height: 43px;
  line-height: 58px;
  border-bottom-width: 84px;
  margin-bottom: 7px;
  border-right-width: 35px;
  margin-left: 0px;
  padding-top: 32px;
  padding-bottom: 23px;
  border-top-width: 57px;
  margin-bottom: 30px;
  margin-left: 59px;
}
