.jngei { 
  line-height: 43px;
  line-height: 58px;
  border-bottom-width: 84px;
  margin-bottom: 7px;
  border-right-width: 35px;
  margin-left: 0px;
  padding-top: 32px;
  padding-bottom: 23px;
  border-top-width: 57px;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 11px;
  padding-bottom: 91px;
  padding-top: 28px;
  padding-top: 44px;
  margin-bottom: 11px;
  border-left-width: 76px;
  margin-right: 82px;
  padding-left: 80px;
  padding-top: 89px;
  padding-bottom: 88px;
  margin-top: 92px;
  padding-top: 39px;
  padding-top: 16px;
  border-top-width: 93px;
  margin-right: 27px;
}
